<div class = "contents-container">
    
    <div class = "profile-container">
        <div class = "user-container">
            <div class = "user-profile">
                <div class = "icon-container">
                    <img src = "../../data/uploads/{{currentUserPic}}" class = "user-image" width="300px" height="300px">
                </div>
                
                <div class = "user-name">
                    {{{myName}}} <br>
                    {{#if isOwner}}
                    <p> (Establishment Owner) </p>
                    <a href = "/all-establishments"><button type="submit" class="btn"> Add Establishment </button></a>
                    {{else}}
                    <p> (Non-owner User)  </p>
                    {{/if}}
                </div>

                <div class = "user">
                    <h2 id="user-handle"> {{currUsername}} </h2>
                
                    <p> {{numReviews}} </p>
                </div>

                <div class = "description">
                    <p id="user-description"> {{userDescription}} </p>
                </div>

                <a href="/edit">
                    <button class = "btn">
                        Edit Profile
                    </button>
                </a>
            </div>

        </div>
    </div>

    
    <!--TODO: LINK THIS TO SHEYN AND ISAAC'S ADD REVIEW -->
    <div class = "user-more-info-container">
        
        <div class = "review-label">
            <h1> Reviews </h1>
        </div>

        <div class = "scrollbar-container">
            <div class = "scroll-object">
                <div class = "reviews-container">
                    {{#if populateReviewsContainer}}
                    
                        
                        {{#if isOwner}}
                        
                            {{#each displayReviews}}
                                <div class = "review">
                                {{>review}}  
                                    
                                                   
                                <form action="/reply" method="post" class="reply">
                                    <label for="description"> Reply to this Review: </label>
                                    <textarea id="description" placeholder="Your reply here..." name="description"></textarea>
                                    <input type="submit" value="Post Reply" class="reply-button">
                                </form>
                                
                            {{/each}}
                        
                            {{#if displayReplies}}
                                {{#each reply}}
                                <div class="review-replies-container">
                                    <div id="reply-display">
                                        <p class="username-display"> {{this.username}} <span class="replied">replied: </span></p>
                                        <p> {{this.ownerReply}} </p>
                                    </div>
                                </div>
                                <br>
                                {{/each}}
                                </div> 
                            {{/if}}
                        

                        {{else}}
                        
                            {{#each displayReviews}}
                            <div class = "review">
                                {{>review}}  
                            </div>          
                            {{/each}}
                        
                        {{/if}}
                        
                    {{else}}
                        <p class="center"> No reviews yet.</p>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
</div>